* {
    margin: 0;
}

.card_container {
    display: flex;
    justify-content: center;
}

.cars_title {
    margin-top: 4px;
    margin-bottom: 18px;
    text-align: center;
    font-weight: lighter;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #bcd3d3;
    border-radius: 15px;
    width: 30%;
    margin-top: 20px;
}

.card {
    background-color: rgb(113, 132, 123);
    color: white;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 4px;
    border-radius: 10px;
    transition: ease-in-out .4s;
}

.card:hover {
    background-color: rgb(93, 103, 98);
}